@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    padding:15px;
    height: 100vh;
    width: 100vw;
    margin:0 auto;
    background-color: black;
    color:white;
}
nav ul {
    list-style: none;
    text-align: right;
    padding:10px;
    
}
ul li{
    display:inline;
    margin:5px;
}
ul li a{
    text-decoration: none;
    color:white;
    font-size: 18px;
}
ul li a:hover{
    text-decoration: underline;
    color:red;
   
}
main h1{
    padding:30px;
    font-size: 700;
}
main p{
    padding: 30px;
}
main p a{
    color:white;
    text-decoration: none;
}
main p a:hover{
    text-decoration: underline;
    color:red;
}
.btn1{
 color:black;
 background: white;   
 padding:6px;
 border:none;
 cursor: pointer;
 border-radius: 5px;
 margin: 4px;
}
.btn1:hover{
    background: blue;
    color:white;
}
.btn1 a{
    color:grey;
 background: white; 
 text-decoration: none;
}
.btn1 a:hover {
    text-decoration: none;
    background: blue;
    color:white;
}
aside{
    padding:30px;
}
.btn2{
    
    color:grey;
    background:red;   
    padding:20px;
    border:none;
    cursor: pointer;
    border-radius: 5px;
    margin: 4px;
}
.btn2 a{
text-decoration: none;
color:white;
}
.btn2:hover{
    text-decoration: none;
    background: blue;
    color:white;
}
footer{
    padding:30px;
}
footer img{
    margin:20px;
}
aside input{
    text-align: left;
    margin:20px;
}
aside input[type='text'],[type='email']{
    width:20rem;
    padding: 20px;
}
textarea{
    margin-left:18px;
    width:20rem;
}
button[class='btn3'] {
    margin: 20px;
    width:8rem
}
.btn3{
    color:white;
    background: red;   
    padding:15px;
    border:none;
    cursor: pointer;
    border-radius: 5px;
    margin: 4px;
}
.btn3:hover{
    text-decoration: none;
    background: blue;
    color:white;
}
@media (max-width:768px) {
    aside input[type='text'],[type='email']{
        width:15rem;
        padding: 20px;
    }
    textarea{
        margin-left:18px;
        width:15rem;
    }
    button[class='btn3'] {
        margin: 20px;
        width:8rem
    }
    .btn3{
        color:white;
        background: red;   
        padding:15px;
        border:none;
        cursor: pointer;
        border-radius: 5px;
        margin: 4px;
    }
    .btn3:hover{
        text-decoration: none;
        background: blue;
        color:white;
    }
    aside img[src="Screenshot (24).png"]{
        width:95%;
    }
}